---
layout: layouts/main.njk
---

<section id="banner">
  <div class="container">

    <div class="banner-inner">
    <h1><img src="assets/images/wave.png" class="handwave" width="50" alt="Wand Waving"> Hi, I'm Mike. Nice to meet you.</h1>
    <div class="profile-desc" style="text-align: left;margin: 0 auto;width:100%;">
      I’m a <span>full stack web developer.</span> I gather business requirements, and implement web based applications using client and server side technologies. I’m naturally curious and always striving to be better.
    </div>
    </div>
  </div>
</section>

{{ content | safe }}