---
layout: layouts/main.njk
---

<section id="banner">
  <div class="container">

    <div class="banner-inner">
    <h1><img src="assets/images/wave.png" class="handwave" width="50" alt="Wand Waving"> Hi, I'm Mike. Nice to meet you.</h1>
    <div class="profile-desc" style="text-align: left;margin: 0 auto;width:100%;">
      I’m a <span>full stack web developer.</span> I gather business requirements, and implement web based applications using client and server side technologies. I’m naturally curious and always striving to be better.
    </div>
    </div>
  </div>
</section>

{{ content | safe }}


<script src="/assets/javascript/swiper-bundle.min.js"></script>
<script src="/assets/javascript/lightgallery.js/dist/js/lightgallery.min.js"></script>

<script>
  //https://swiperjs.com/
var mySwiper = new Swiper ('.swiper-container', {
  // Optional parameters
  // cssMode:true,
  direction: 'horizontal',
  preloadImages: true,
  autoHeight:true,
  lazy:true,
  loop: true,
  keyboard:false,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination'
    // type: 'progressbar',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
})

//http://sachinchoolur.github.io/lightGallery/
lightGallery(document.getElementById('lightgallery1'),{
  thumbnail:true,
  selector: '.swiper-slide',
  download:false
}); 
lightGallery(document.getElementById('lightgallery2'),{
  thumbnail:true,
  selector: '.swiper-slide',
  download:false
}); 
lightGallery(document.getElementById('lightgallery3'),{
  thumbnail:true,
  selector: '.swiper-slide',
  download:false
}); 
lightGallery(document.getElementById('lightgallery4'),{
  thumbnail:true,
  selector: '.swiper-slide',
  download:false
}); 
</script>