---
layout: layouts/home.njk
---

<section id="skills">
  <div class="container">
    <h2>Skills</h2>
    <h3>Web Technology</h3>
    <ul class="skilllist">
      <li>Coldfusion</li>
      <li>CFWheels</li>
      <li>PHP</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>SOAP</li>
      <li>REST</li>
    </ul>
    <h3>Development Tools</h3>
    <ul class="skilllist">
      <li>Commandbox</li>
      <li>Visual Studio Code</li>
      <li>Git</li>
      <li>Subversion</li>
      <li>Insomnia</li>
      <li>Soap UI</li>
      <li>Adobe CQ5</li>
    </ul>
    <h3>Database</h3>
    <ul class="skilllist">
      <li>Oracle</li>
      <li>MySQL</li>
      <li>SQL</li>
      <li>TOAD</li>
      <li>Data Modeling Tools</li>
    </ul>
    <h3>Operating Systems / Server</h3>
    <ul class="skilllist">
      <li>Windows (server)</li>
      <li>Linux (Ubuntu)</li>
      <li>IIS</li>
      <li>Apache</li>
    </ul>
    <h3>Design</h3>
    <ul class="skilllist">
      <li>Photoshop</li>
      <li>Figma</li>
    </ul>
    <h3>Familiar With</h3>
    <ul class="skilllist">
      <li>Node.js</li>
      <li>Wordpress</li>
    </ul>
  </div>
</section>




<style>
  .swiper-container {
  width: 600px;
  height: 400px;
  max-width:100%;
  height:100%;
  }
  .swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #000; */

  }
  .swiper-slide img {
    width: 100%;
  height: 100%;
    /* width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%; */
  }
      </style>

<!-- <section id="projects">
  <div class="container">
    <h2>Projects</h2>

    <h3>Participate in Research</h3>
    <div class="project">
      <div class="project-screenshots">


           
      
      </div>
     
      <div class="project-desc">
        <div>
          <h4>Description</h4>
          <div>Show clinical trial studies available through the university. Pulled data nightly from our CTMS application using a Coldfusion scheduled task. Extended the data from the CTMS by pulling from a secondary source as needed. Site is mobile friendly to reach the largest audience. The page template used is from the university's CMS system, which I had to re-create on our own server to mimic the look and feel.</div>
        </div> 
        <div>
          <h4>Technology Used</h4>
          <div>Coldfusion, Oracle, Javascript, HTML, CSS, TOAD, TOAD data modeler</div>
        </div>
        <div>
          <h4>Website Link</h4>
          <div class="project-link">
            <svg style="margin-right:5px;" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
            <a target="_blank" href="https://www.research.buffalo.edu/portal/clinicaltrial/"> Participate in Research</a></div>
        </div>
      </div>
    </div>

  </div>
</section> -->

<section id="projects">
  <div class="container">
    <h2>Recent Projects</h2>

    <h3>Participate in Research</h3>
    <div class="project">
      <div class="project-screenshots">

        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper" id="lightgallery1">
              <!-- Slides -->
              <div class="swiper-slide" data-src="assets/images/projects/pir/large/pir1.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/pir/large/pir1.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/pir/large/pir2.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/pir/large/pir2.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/pir/large/pir3.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/pir/large/pir3.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-black"></div>
          <!-- Navigation -->
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div> 
      
      </div>
     
      <div class="project-desc">
        <div>
          <h4>Description</h4>
          <div>Show clinical trial studies available through the university. Pulled data nightly from our CTMS application using a Coldfusion scheduled task. Extended the data from the CTMS by pulling from a secondary source as needed. Site is mobile friendly to reach the largest audience. The page template used is from the university's CMS system, which I had to re-create on our own server to mimic the look and feel.</div>
        </div> 
        <div>
          <h4>Technology Used</h4>
          <div>Coldfusion, Oracle, Javascript, HTML, CSS, TOAD, TOAD data modeler</div>
        </div>
        <div>
          <h4>Website Link</h4>
          <div class="project-link">
            <svg style="margin-right:5px;" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
            <a target="_blank" href="https://www.research.buffalo.edu/portal/clinicaltrial/"> Participate in Research</a></div>
        </div>
      </div>
    </div>

    <h3>NIH RPPR Tracker</h3>
    <div class="project">
      <div class="project-screenshots">
        
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper" id="lightgallery2">
              <!-- Slides -->
              <div class="swiper-slide" data-src="assets/images/projects/rppr/large/rppr1.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/rppr/large/rppr1.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/rppr/large/rppr2.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/rppr/large/rppr2.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/rppr/large/rppr3.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/rppr/large/rppr3.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>   
              <div class="swiper-slide" data-src="assets/images/projects/rppr/large/rppr4.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/rppr/large/rppr4.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>            
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-black"></div>
          <!-- Navigation -->
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div> 
  
        
      </div>
      <div class="project-desc">
        <div>
          <h4>Description</h4>
          <div>Designed for our Sponsored Projects office to track NIH awards that have annual submission requirements. NIH awards were scraped off their website instead of having anyone manually having to do it. There 
            are between 5-8 sections that need to be completed in parallel. The site tracks all the work being done between multiple offices and multiple staff roles. Email reminders are sent when deadlines approach if work hasn't been completed.
            I came up with the idea of tracking the progress with a simple percentage to very quickly see how much work had been done to date. Application was created in the CFWheels framework.
          </div>
        </div> 
        <div>
          <h4>Technology Used</h4>
          <div>Coldfusion, CFWheels, Oracle, Javascript, HTML, CSS, TOAD, TOAD data modeler</div>
        </div>
        <div>
          <h4>GitHub</h4>
          <div class="project-link">
            <svg style="margin-right:5px;" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
            <a target="_blank" href="https://www.github.com">Source Code</a></div>
        </div>
      </div>
    </div>

    <h3>Data Feed Automation</h3>
    <div class="project">
      <div class="project-screenshots">
        
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper" id="lightgallery3">
              <!-- Slides -->
              <div class="swiper-slide" data-src="assets/images/projects/datafeedautomation/large/dfa1.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/datafeedautomation/large/dfa1.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/datafeedautomation/large/dfa2.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/datafeedautomation/large/dfa2.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/datafeedautomation/large/dfa3.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/datafeedautomation/large/dfa3.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>   
              <div class="swiper-slide" data-src="assets/images/projects/datafeedautomation/large/dfa4.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/datafeedautomation/large/dfa4.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>            
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-black"></div>
          <!-- Navigation -->
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div> 

      </div>
      <div class="project-desc">
        <div>
          <h4>Description</h4>
          <div>Multi-channel review site created in Wordpress.  Generated all the HTML/CSS from a few image templates.</div>
        </div> 
        <div>
          <h4>Technology Used</h4>
          <div>HTML, CSS, Wordpress</div>
        </div>
        <div>
          <h4>Website Link</h4>
          <div class="project-link">
            <svg style="margin-right:5px;" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
            <a target="_blank" href="https://www.datafeedautomation.com">DataFeed Automation</a></div>
        </div>
      </div>
    </div>

    <h3>Gary Nealon Landing Page</h3>
    <div class="project">
      <div class="project-screenshots">
        
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper" id="lightgallery4">
              <!-- Slides -->
              <div class="swiper-slide" data-src="assets/images/projects/garynealon/large/gary1.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/garynealon/large/gary1.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/garynealon/large/gary2.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/garynealon/large/gary2.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>              
              <div class="swiper-slide" data-src="assets/images/projects/garynealon/large/gary3.jpg">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="assets/images/projects/garynealon/large/gary3.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>                      
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-black"></div>
          <!-- Navigation -->
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div> 
        
      </div>
      <div class="project-desc">
        <div>
          <h4>Description</h4>
          <div>Marketing page and form created in Wordpress from an image template. </div>
        </div> 
        <div>
          <h4>Technology Used</h4>
          <div>HTML, CSS, Wordpress</div>
        </div>
        <div>
          <h4>Website Link</h4>
          <div class="project-link">
            <svg style="margin-right:5px;" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
            <a target="_blank" href="https://www.garynealon.com/membership-information">Gary Nealon Membership</a></div>
        </div>
      </div>
    </div>

  </div>
</section>