<header>
  <div class="container">
    <div class="header-inner">

      <a href="/" class="profile">
        <div class="profile-image"><img src="/assets/images/profile.jpg" width="100" height="100" alt="{{site.author}}"></div>
        <div class="profile-name">{{site.author}}</div>
      </a>

      <div id="burgertoggle">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <nav>
        <div class="nav-inner">
          <div><a href="/">About Me</a></div>
          <div><a href="/blog">Blog</a></div>
          <div><a href="/posts/uses">Tech I Use</a></div>
          <div><a class="contactme" href="mailto:mike@mgrogan.com">Contact Me</a></div>
        </div>
      </nav>
    </div>

  </div>
</header>